
<!--公共头部-->
<header class="conatiner-fluid">
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">               
                <a class="navbar-brand" href="#">淘狗网</a>
                <a href="#">
		       	 <img alt="Brand" src="/images/nav.jpg" style="height:50px;">
		      	</a>
            </div>
        
            <div class="user-info-box navbar-right navbar-header">
                
            </div>
            
        </div>
    </nav>
</header>